.background{
    background-image: url('/static/images/main.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.background1{
    background-image: url('../images/bg2.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.background2{
    background-image: url('/static/images/country.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

table {
    width : 700px;
}

.main_table{
    border: 2px;
    text-align: right;
}
table {
    width:400px;
}
table {
    align-items: center;
    border: 1px;
    
}

.topnav{
    background-color: rgb(71, 83, 83);
    overflow: hidden;
    width: 18%;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
  }
.topnav a:hover {
    background-color: silver;
    color: black;
  }
.homebutton {
    background-color: blue;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.home-selection{
    text-align: center;
}

.home-selection li {
    padding: 15px;
    border: 1px;
}