{% extends 'base.html' %}

{% block content %}
    <body class = "background1"> 
        <h1>Choose your city</h1>
    <button class = "add_button">
        <a class = add-button-font" href="/cities/new">Add city</a>
    </button>
    
    {% for city in cities %}
    <div>

    <table>
        <tr>
        <a class = "button_font" href="/cities/{{city.id}}">{{city.city_name}}</a>
            
        </tr>
        <tr>
            
            <tr>
                <td> 
                    <form action="/cities/{{city.id}}/delete" method="POST">
                        <button>delete</button>
                    </form>
                </td>
            </tr>    
            {% endfor %}
        </tr>
    </div> 
</table>
</body>
{% endblock content %}