<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/buttons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/tables.css')}}">
    <title>Bucket list</title>
</head>
<body>
    <main>
            <div class="topnav">
                <a class = "homebutton" href="/">Home</a>
                <a href="/countries">Countries</a>
                <a href="/cities">Cities</a>
            </div>
        <section>
        {% block content %}
            
        {% endblock  %}
        </section>
    </main>
</body>
</html>