{% extends 'base.html' %}

{% block content %}
    <body class = "background">
        <div>
    <h1> Welcome to your Bucketlist </h1>
<table >
    <div class = "home-selection">
        <li><a href="/">Main Menu</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/countries/new">Add country</a></li>
        <li><a href="/cities/new">Add a city</a></li>
    </div>
</table>
</div>
<div>
    <p>Lets Explore</p>
</div>
    </body>
{% endblock %}